<table class="services new" align="center">
  <caption><%= @title %></caption>
  <tbody>
    <tr>
      <td>

        <div class='notice-green'>
          <div>
            <strong>Thank you!</strong>
          </div>
          <br/>

          <div>
            For services with instant provisioning, your dashboard will show real-time progress of provisioning status.
          </div>

          <div>
            For services requiring manual provisioning, we'll reach out to you when things are ready to go!
          </div>
          <br/>

          <div>
            We thank you again for your time and your business!
          </div>
        </div>
        </div>

      </td>
    </tr>
  </tbody>
</table>

&laquo; <%= link_to('Back to Dashboard', dashboard_path) %><br />
