<table class="services new" align="center">
  <caption><%= @title %></caption>
  <tbody>
    <tr>
      <td>

        <div class='notice-green'>
          <div>
            <strong>Thank you!</strong>
          </div>
          <br/>

          <% if @thank_you_message == :vps_with_os %>
            <div>
              Provisioning time is about <strong>2 - 3 minutes</strong>.
            </div>

            <div>
              Your dashboard will show real-time progress and you'll also receive an email when provisioning is finished.
            </div>

          <% else %>
            <div>
              For services with instant provisioning, your dashboard will show real-time progress of provisioning status.
            </div>

            <div>
              For services requiring manual provisioning, we'll reach out to you when things are ready to go!
            </div>
          <% end %>

          <br/>

          <div>
            We thank you again for your time and your business!
          </div>
        </div>
        </div>

      </td>
    </tr>
  </tbody>
</table>

&laquo; <%= link_to('Back to Dashboard', dashboard_path) %><br />
