<table class="services new" align="center">
  <caption>Add New Service</caption>
  <tbody>
    <tr>
      <td>

        <% if @account.services.active.empty? %>

        <div class='notice-transparent'>
          <p>
          Oops, this account appears to be empty
          </p>
          <p>
          If you placed an order recently, we are still working on provisioning it, and thank you for your patience!
          </p>
          <p>
          Otherwise, you must place an actual order at <a href='https://arpnetworks.com'>arpnetworks.com</a> to establish your account first
          </p>

        <% elsif @account.credit_card.nil? %>

        <div class='notice-transparent'>
          A valid <strong>credit card</strong> is required to order new services
        </div>

        <div class='notice-transparent'>
          <a href='<%= new_account_credit_card_path %>', class='btn btn-success'><i class="fas fa-credit-card"></i> Add Credit Card</a>
        </div>

        <% end %>

        <% if !@account.current? %>

        <div class='notice-transparent'>
          <p>
          Oops, this account has <strong>unpaid invoices</strong> over $50.00 USD
          </p>
          <p>
          All invoices must be paid before new services can be ordered
          </p>

          <% if @account.offload_billing? %>
            <div class='notice-transparent'>
              <a href='<%= new_account_credit_card_path %>', class='btn btn-success'><i class="fas fa-credit-card"></i> Update Credit Card</a>
            </div>
          <% else %>
          <div class='notice-transparent'>
            <a href='<%= pay_account_invoices_path %>', class='btn btn-success'><i class="fas fa-money-bill-alt"></i> Pay Invoices</a>
          </div>
          <% end %>
        <% end %>

      </td>
    </tr>
  </tbody>
</table>


