<table class="services new" align="center">
  <caption>Remove Service</caption>
  <tbody>
    <tr>
      <td>
        <div class='notice-transparent'>
          Please email...
          <br/><br/>
          <a href='mailto:support@arpnetworks.com'>support@arpnetworks.com</a>
          <br/><br/>
          ...and simply tell us which service you'd like removed.
          <br/>
          <br/>

          For a VPS, please include the VPS UUID.

          <br/>
          <br/>
          <div style='font-size: 11px; padding-top: 10px'>
            We apologize for the extra step, this will soon be automated.
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
