<%= f.hidden_field field_name, id: 'otp-code-field' %>
<div class="otp-digit-fields-container">
  <input type="text" id="digit-1" maxLength="1" data-next="digit-2">
  <input type="text" id="digit-2" maxLength="1" data-next="digit-3" data-previous="digit-1">
  <input type="text" id="digit-3" maxLength="1" data-next="digit-4" data-previous="digit-2">
  <input type="text" id="digit-4" maxLength="1" data-next="digit-5" data-previous="digit-3">
  <input type="text" id="digit-5" maxLength="1" data-next="digit-6" data-previous="digit-4">
  <input type="text" id="digit-6" maxLength="1"                     data-previous="digit-5">
</div>

<script type='text/javascript'>
  $('.otp-digit-fields-container').find('input').each(function() {
    $(this).attr('maxlength', 1);

    $(this).on('keydown', function(e) {
      var otpFieldAllowedKeys = [
        'Backspace', 'ArrowLeft', 'ArrowRight',
        '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '0',
      ]

      if (!otpFieldAllowedKeys.includes(e.key)) {
        e.preventDefault();
      }
    });

    $(this).on('keyup', function(e) {
      var otp6DigitsContainer = $($(this).parent());
      
      if(e.key === 'Backspace' || e.code === 'ArrowLeft') {
        var prev = otp6DigitsContainer.find('input#' + $(this).data('previous'));
        
        if(prev.length) {
          $(prev).trigger("select");
        }
      } else if((e.key >= '0' && e.key <= '9') || e.key === 'ArrowRight') {
        var next = otp6DigitsContainer.find('input#' + $(this).data('next'));
        
        if(next.length) {
          $(next).trigger("select");
        }
      }
    });

    var digit = function (index) {
      return $('.otp-digit-fields-container').find(`input#digit-${index}`).val()
    };

    $(this).on('change', function(e) {
      $("#otp-code-field").val(`${digit(1)}${digit(2)}${digit(3)}${digit(4)}${digit(5)}${digit(6)}`)
    });
  });
</script>