<table class="bgp-sessions bgp_session_detail<%= @enable_admin_view ? '' : " cursor-normal" %>">
  <caption>BGP Session Detail</caption>
  <%= render :partial => '/bgp_sessions/table_data' %>
  <tfoot>
  </tfoot>
</table>
