<%= error_messages_for(:account, :message => nil) %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <table class="register entry_form" align="center">
    <caption>Create A Free Portal Account</caption>
    <tfoot>
      <tr>
        <td></td>
        <td colspan="1">
          <input type='submit' value="Register" />
        </td>
      </tr>
    </tfoot>
    <%= render :partial => 'accounts/form', :locals => { :f => f } %>
  </table>
<% end %>
