<!-- required fields //-->
<tbody>
  <tr>
    <td colspan="2">
      <h3></h3>
    </td>
  </tr>
  <tr>
    <td class="label">Account Login:</td>
    <td class="required"><%= f.text_field :login %></td>
  </tr>
</tbody>
