<section class="otp-auth-section">
  <div class="w-8/10 mx-auto">
    <h2>Authenticate your account with a recovery code</h2>
  </div>

  <div class="text-center p-4">
    <%= form_with(
          url: accounts_sign_in_recovery_code_path,
          scope: :account,
          method: :post,
          local: true,
          class: 'two-factor-auth-box'
    ) do |f| %>
      <p class="text-center px-4">To access your account, enter one of the recovery codes you saved when you set up your two-factor authentication device.</p>

      <%= render 'components/otp_field', f: f, field_name: :recovery_code, code_length: 8 %>

      <div class="text-right">
        <%= f.submit 'Verify', class: 'btn btn-info' %>
      </div>
    <% end %>
  </div>
</section>
