development:
  iso_base: foo/bar
  payment_system_disabled_lockfile: lock-it.tmp
  sr_subject: Hi
  admins:
    portal:
      - admin
      - john
    console:
      - admin
      - larry
  irr_password: foo
  hosts:
    rancid: rancid.example.com
    rancid_user: rancid-user
    rancid_dir: /home/rancid
    console: console.example.com
  vlan_min: 20
  keyer: keymaster
  simple_crypt_key: 'PdSgVkYp3s5v8y/B?E(H+MbQeThWmZq4'
  otp_prefix: cccccccjfv
  ports:
    min:
      vnc: 5900
      web_socket: 12000
      serial: 9000
  slack:
    webhook_url: 'https://hooks.slack.com/services/YOUR-HOOK'
  arin:
    api_key: foo
  provisioning:
    initial_host:
      lax: lax-host.example.com
      fra: fra-host.example.com
  jobs:
    queue_health_exclusions:
      - 1
test:
  iso_base: foo/bar
  payment_system_disabled_lockfile: lock-it.tmp
  sr_subject: Hi
  admins:
    - admin
    - john
  admins:
    portal:
      - admin
      - john
    console:
      - admin
      - larry
  irr_password: foo
  hosts:
    rancid: rancid.example.com
    rancid_user: rancid-user
    rancid_dir: /home/rancid
    console: console.example.com
  vlan_min: 20
  keyer: keymaster
  simple_crypt_key: 'PdSgVkYp3s5v8y/B?E(H+MbQeThWmZq4'
  otp_prefix: cccccccjfv
  ports:
    min:
      vnc: 5900
      web_socket: 12000
      serial: 9000
  slack:
    webhook_url: 'https://hooks.slack.com/services/YOUR-HOOK'
  arin:
    api_key: foo
  provisioning:
    initial_host:
      lax: lax-host.example.com
      fra: fra-host.example.com
  jobs:
    queue_health_exclusions:
      - 1
