development:
  iso_base: foo/bar
  payment_system_disabled_lockfile: lock-it.tmp
  sr_subject: Hi
  admins:
    - admin
    - john
  irr_password: foo
  hosts:
    rancid: rancid.example.com
    rancid_user: rancid-user
  vlan_min: 20
  keyer: keymaster
  simple_crypt_key: 'PdSgVkYp3s5v8y/B?E(H+MbQeThWmZq4'
  otp_prefix: cccccccjfv
  ports:
    min:
      vnc: 5900
      web_socket: 12000
      serial: 9000
  slack:
    webhook_url: 'https://hooks.slack.com/services/YOUR-HOOK'
test:
  iso_base: foo/bar
  payment_system_disabled_lockfile: lock-it.tmp
  sr_subject: Hi
  admins:
    - admin
    - john
  irr_password: foo
  hosts:
    rancid: rancid.example.com
    rancid_user: rancid-user
  vlan_min: 20
  keyer: keymaster
  simple_crypt_key: 'PdSgVkYp3s5v8y/B?E(H+MbQeThWmZq4'
  otp_prefix: cccccccjfv
  ports:
    min:
      vnc: 5900
      web_socket: 12000
      serial: 9000
  slack:
    webhook_url: 'https://hooks.slack.com/services/YOUR-HOOK'
