development:
  iso_base: foo/bar
  payment_system_disabled_lockfile: lock-it.tmp
  sr_subject: Hi
  admins:
    portal:
      - admin
      - john
    console:
      - admin
      - larry
  super_admins:
    - john
  irr_password: foo
  hosts:
    rancid: rancid.example.com
    rancid_user: rancid-user
    rancid_dir: /home/rancid
    rancid_provision_vlan_script: /home/scripts/foo.sh
    console: console.example.com
    cacti: cacti.example.com
    cacti_dir: /home/cacti
    cacti_scripts:
      reindex_location: /home/cacti/bin/foo.sh
      add_graph_for_vlan: /home/cacti/bin/bar.sh
      add_customer: /home/cacti/bin/baz.sh
      get_graph_id_for_vlan: /home/cacti/bin/boo.sh
    portal: portal.example.com
  vlan_min: 20
  keyer: keymaster
  simple_crypt_key: 'PdSgVkYp3s5v8y/B?E(H+MbQeThWmZq4'
  otp_prefix: cccccccjfv
  ports:
    min:
      vnc: 5900
      web_socket: 12000
      serial: 9000
  slack:
    webhook_url: 'https://hooks.slack.com/services/YOUR-HOOK'
  arin:
    api_key: foo
  provisioning:
    initial_host:
      lax: lax-host.example.com
      fra: fra-host.example.com
    host_suffix: cust.example.com
    scripts:
      make_config: ./make-it.sh
  jobs:
    queue_health_exclusions:
      - 1
test:
  iso_base: foo/bar
  payment_system_disabled_lockfile: lock-it.tmp
  sr_subject: Hi
  admins:
    portal:
      - admin
      - john
    console:
      - admin
      - larry
  super_admins:
    - john
  irr_password: foo
  hosts:
    rancid: rancid.example.com
    rancid_user: rancid-user
    rancid_dir: /home/rancid
    rancid_provision_vlan_script: /home/scripts/foo.sh
    console: console.example.com
    cacti: cacti.example.com
    cacti_dir: /home/cacti
    cacti_scripts:
      reindex_location: /home/cacti/bin/foo.sh
      add_graph_for_vlan: /home/cacti/bin/bar.sh
      add_customer: /home/cacti/bin/baz.sh
      get_graph_id_for_vlan: /home/cacti/bin/boo.sh
    portal: portal.example.com
  vlan_min: 20
  keyer: keymaster
  simple_crypt_key: 'PdSgVkYp3s5v8y/B?E(H+MbQeThWmZq4'
  otp_prefix: cccccccjfv
  ports:
    min:
      vnc: 5900
      web_socket: 12000
      serial: 9000
  slack:
    webhook_url: 'https://hooks.slack.com/services/YOUR-HOOK'
  arin:
    api_key: foo
  provisioning:
    initial_host:
      lax: lax-host.example.com
      fra: fra-host.example.com
  jobs:
    queue_health_exclusions:
      - 1
