<div class="error">
  <%= error_messages_for :bgp_sessions_prefix %>
</div>

<%= form_for([:admin, @bgp_sessions_prefix]) do |f| %>
<table class="entry_form" align="center">
  <caption>New Prefix</caption>
  <tfoot>
    <tr>
      <td></td>
      <td colspan="1">
        <input type='submit' value="Create" />
      </td>
    </tr>
  </tfoot>
  <%= render :partial => 'form', :locals => { :f => f } %>
</table>
<% end %>

&laquo; <%= link_to('Back to All Prefixes', admin_bgp_sessions_prefixes_path) %>
