<table class='jobs legend'>
  <tr>
    <td class='icon'><img src='/images/icons/done.png' alt='checkmark'></td>
    <td> = Completed</td>
    <td class='icon'><img src='/images/icons/ellipsis-no-animate.gif' alt='ellipsis'></td>
    <td> = In Progress</td>
    <td class='icon'><img src='/images/icons/clock-simple-green.png' alt='clock'></td>
    <td> = Waiting</td>
    <td class='icon'><img src='/images/icons/cancelled-gray2.png' alt='canceled'></td>
    <td> = Canceled</td>
    <td class='icon'><img src='/images/icons/failed.png' alt='bug'></td>
    <td> = Failed</td>
  </tr>
</table>
