<table class="jobs">
  <caption>Notifications</caption>
    <%= render :partial => 'table_data' %>
</table>

<%= render :partial => 'legend' %>

&laquo; <%= link_to('Back to Dashboard', dashboard_path) %>
