<table class="bgp-sessions-prefixes bgp_sessions_prefix_detail<%= @enable_admin_view ? '' : " cursor-normal" %>">
  <caption>BGP Session Prefix Detail</caption>
  <%= render :partial => '/bgp_sessions_prefixes/table_data' %>
  <tfoot>
  </tfoot>
</table>
