<div style="margin-top: 30px; border-top: 1px solid #eee; padding-top: 20px; color: #666;">
  -- <br>
  ARP Networks Support Team<br>
  <a href="mailto:support@arpnetworks.com">support@arpnetworks.com</a> | +1 855 444-3145<br>
  <br>
  Stay in the Loop!<br>
  <a href="https://arp.serve.sh/newsletter">http://arp.serve.sh/newsletter</a>
</div> 