<table class="invoices">
  <caption>
    <div>&nbsp;
      <div class="title">
        All Invoices
      </div>
      <div class="actions">
        <%= link_to("New Invoice", new_admin_invoice_path, :class => 'add_item') %>
      </div>
    </div>
  </caption>
  <%= render :partial => 'invoices/table_data' %>
</table>

&laquo; <%= link_to('Back to Head Quarters', admin_path) %>
