<table class="bandwidth-quotas bandwidth_detail<%= @enable_admin_view ? '' : " cursor-normal" %>">
  <caption>Bandwidth Quota Detail</caption>
  <%= render :partial => '/bandwidth_quotas/table_data' %>
  <tfoot>
  </tfoot>
</table>
