<table class="backup-quotas backup_detail<%= @enable_admin_view ? '' : " cursor-normal" %>">
  <caption>Backup Space Detail</caption>
  <%= render :partial => '/backup_quotas/table_data' %>
  <tfoot>
  </tfoot>
</table>
