development:
  adapter: mysql2
  database: arp_customer_cp
  username: root
  password:
  encoding: utf8

test:
  adapter: mysql2
  database: arp_customer_cp_test
  username: root
  password:
  encoding: utf8

powerdns_development:
  adapter: mysql2
  database: powerdns
  username: root
  password:
  encoding: utf8

powerdns_test:
  adapter: mysql2
  database: powerdns_test
  username: root
  password:
  encoding: utf8
