<table class="stripe_events">
  <caption>
    <div>&nbsp;
      <div class="title">
        All Stripe Events
      </div>
    </div>
  </caption>
  <%= render :partial => 'table_data' %>
</table>

&laquo; <%= link_to('Back to Head Quarters', admin_path) %>
