<div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <table class="entry_form login" align="center">
      <caption>Login</caption>
      <tfoot>
        <tr>
          <td></td>
          <td colspan="1">
            <input type='submit' value="Login" />
            &nbsp;&nbsp; 
            <br/><br/>
            <%= link_to 'Forgot password?', new_password_path(resource_name) %>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <td class="label">Username:</td>
          <td>
          <%= f.text_field :login, autofocus: true %>
          </td>
        </tr>
        <tr>
          <td class="label">Password:</td>
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
