<div class="error">
  <%= error_messages_for :service %>
</div>

<%= form_for([:admin, @service_code]) do |f| %>
<table class="entry_form" align="center">
  <caption>Edit Service Code</caption>
  <tfoot>
    <tr>
      <td></td>
      <td colspan="1">
        <input type='submit' value="Save changes" />
      </td>
    </tr>
  </tfoot>
  <%= render :partial => 'form', :locals => { :f => f } %>
</table>
<% end %>

&laquo; <%= link_to('Back to All Service Codes', admin_service_codes_path) %>
