@charset "utf-8";

// This imports all of Bulma
// @import "../../../node_modules/bulma/bulma.sass";

// We want wider margins
$gap: 128px;

// Let our logo appear at regular size
$navbar-item-img-max-height: 3rem;

$footer-background-color: #fff;

// Defaults (for now)
$desktop: 960px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$fullhd: 1344px + (2 * $gap);
$widescreen-enabled: true;
$fullhd-enabled: true;

// For a modal with a box, these 3 lines are all that is required
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/components/modal.sass";
@import "../../../node_modules/bulma/sass/elements/box.sass";

// But a button class can be useful
@import "../../../node_modules/bulma/sass/elements/button.sass";

// Forms
@import "../../../node_modules/bulma/sass/form/_all.sass";

// Grid!
@import "../../../node_modules/bulma/sass/grid/_all.sass";

// Navigation Bar
@import "../../../node_modules/bulma/sass/components/navbar.sass";

// Layout
@import "../../../node_modules/bulma/sass/layout/_all.sass";
@import "../../../node_modules/bulma/sass/components/level.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";

// Helpers

@import "../../../node_modules/bulma/sass/base/helpers.sass";

// Good for completely free-form content
// @import "../node_modules/bulma/sass/elements/content.sass";

// Fix form within a box from making horizontal scroll bars appear
.box .textarea {
  max-width: 96%;
  min-width: 96%;
}

.box .input {
  max-width: 96%;
}
