#ssh_key_selector {
  margin-bottom: 1rem;

  label {
    display: block;
    padding-bottom: 0.25rem;

    &:hover {
      background: #fafafa;
      cursor: pointer;

      > span {
        color: red;
        display: block;
        padding-top: 0.25rem;
      }
    }
  }

  span {
    display: none;
    float: right;
    font-size: 0.75rem;
    padding-right: 0.5rem;
  }
}

#ssh_key_selector_error_message {
  font-size: 0.75rem;
  padding-bottom: 0.75rem;

}

#os_selector {
  label {
    &:hover {
      cursor: pointer;
    }
  }
}
