#ssh_keys_selector {
  margin-bottom: 1rem;

  label {
    display: block;
    padding-bottom: 0.75rem;
    padding-top: 0.5rem;

    &:hover {
      background: #fafafa;
      cursor: pointer;

      > span {
        display: block;
        color: red;
      }
    }
  }

  span {
    display: none;
    float: right;
    font-size: 0.75rem;
    padding-right: 0.5rem;
  }
}
