@mixin vendor-prefixes($property, $values) {
  -webkit-#{$property}: #{$values};
  -moz-#{$property}: #{$values};
  -ms-#{$property}: #{$values};
  -o-#{$property}: #{$values};
  #{$property}: #{$values};
}

.copy-button {
  &:hover {
    cursor: pointer;
  }
}

.magic-password {
  font-family: monospace;
  font-size: 1rem;
}
