@mixin vm-status {
  background-repeat: no-repeat;
  padding-left: 12px;
  background-position: -4px 0px;
}

table.virtual_machines {
  td.status {
    .running {
      @include vm-status;

      background-image: url(/images/icons/bullet_green.png);
    }

    .stopping {
      @include vm-status;

      background-image: url(/images/icons/bullet_red.png);
    }

    .shutoff {
      @include vm-status;

      background-image: url(/images/icons/bullet_red.png);
    }

    .crashed {
      @include vm-status;

      background-image: url(/images/icons/bullet_red.png);
    }

    .suspended {
      @include vm-status;

      background-image: url(/images/icons/bullet_red.png);
    }

    .initializing {
      @include vm-status;

      background-image: url(/images/icons/bullet_yellow.png);
    }
  }

  td.ip_address {
    width: 3em;
    white-space: nowrap;
  }

  td.uuid {
    width: 5em;
    white-space: nowrap;
  }
}

table.virtual_machine_detail {
  td.notice {
    background-color: #fff8e1;
    line-height: 1.2;
  }
}
