// No longer used
@mixin vm-status {
  background-repeat: no-repeat;
  padding-left: 12px;
  background-position: -4px 0px;
}

table.virtual_machines {
  td.ip_address {
    width: 3em;
    white-space: nowrap;
  }

  td.uuid {
    width: 5em;
    white-space: nowrap;
  }
}

table.virtual_machine_detail {
  td.notice {
    background-color: #fff8e1;
    line-height: 1.2;
  }

  .plain-password {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.85rem;
  }
}

.key-fingerprint,
.key-fingerprint-algo {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.85rem;
}
