<div class="error">
  <%= error_messages_for :account %>
</div>

<%= form_for @account do |f| %>
<table class="edit_account entry_form" align="center">
  <caption>Edit your account profile</caption>
  <tfoot>
    <tr>
      <td></td>
      <td colspan="1">
        <input type='submit' value="Save changes" />
      </td>
    </tr>
  </tfoot>
  <%= render :partial => 'accounts/form', :locals => { :f => f } %>
</table>
<% end %>

&laquo; <%= link_to('Back to Dashboard', dashboard_path) %>
