<%= form_tag forgot_password_post_accounts_path %>
  <table class="entry_form" align="center">
    <caption>Recover Password</caption>
    <tfoot>
      <tr>
        <td></td>
        <td><input type='submit' name='submit' value='Submit' /></td>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td class="label">Email Address:</td>
        <td><input type='text' name='email' value='<%= @email %>' size="40"/></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="1" class="note"><span>Enter the email address you signed up with, and we'll send your account details to that email address.</span></td>
      </tr>
    </tbody>
  </table>
</form>
