<%= error_messages_for(:account, :message => nil) %>

<%= form_for @account do |f| %>
<table class="register entry_form" align="center">
  <caption><%= %w(login new create).include?(controller.action_name) ? 'Create' : 'Edit' %> A Free Portal Account</caption>
  <tfoot>
    <tr>
      <td></td>
      <td colspan="1">
        <input type='submit' value="Register" />
      </td>
    </tr>
  </tfoot>
  <%= render :partial => 'form', :locals => { :f => f } %>
</table>
<% end %>
